@import "variables.scss";

.candidate_table {
  width: 100%;
  max-width: 70vw;
  border-color: $secondaryColor;
  margin: 0 auto;
  padding-bottom: 0.5em;
  border-spacing: 0;
  text-align: start;

  th {
    border-bottom: 1px solid $secondaryColor;
    padding: 0.5rem;
    height: 2.5em;
  }

  td {
    padding: 0.5rem 1rem;
    height: 2.5em;
    color: $textColor;

    a {
      color: $secondaryColor;
    }
  }

  td:nth-child(3) {
    text-align: right;
  }

  td:nth-child(even),
  td:last-child {
    text-align: center;
  }

  tbody > tr:nth-child(even) {
    background-color: $primaryColorVariant;
  }
}
