@import "variables.scss";

.map-section {
  padding: 2em;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .map {
    //border-right: 2px solid $secondaryColor;
    margin: 0;
    max-width: 65%;

    path,
    circle {
      cursor: pointer;
    }

    border-radius: 25px;
  }

  .sidebar {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1em 1.5em;
    border-radius: 25px;
    box-shadow: 7px 7px 14px #070a0d, -7px -7px 14px #0f161d;
    font-size: 18px;

    .settings {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        margin: 0.75em 0;

        font-weight: 500;

        select {
          margin-top: 0.75em;
        }
      }
    }

    select {
      appearance: none;
      border: none;
      border-radius: 4px;
      padding: 10px;
      padding-right: 30px;
      background-color: $primaryColorVariant;
      color: $textColor;
      cursor: pointer;

      background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23F4EBE8%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
        linear-gradient(
          to bottom,
          $primaryColorVariant 0%,
          $primaryColorVariant 100%
        );
      background-repeat: no-repeat, repeat;
      background-position: right 0.7em top 50%, 0 0;
      background-size: 0.65em auto, 100%;

      &:disabled {
        color: $textColorVariant;
        cursor: default;
      }
    }

    button {
      margin: 0.75em auto;
      align-self: left;
      min-width: 70%;
      font-weight: 500;
      font-size: medium;
      cursor: pointer;

      background-color: $primaryColor;
      color: $secondaryColor;
      border: 1px groove $secondaryColor;
      border-radius: 5px;
      padding: 0.6em 1.2em;
      outline: none;

      animation: fadeOut 0.2s linear;
      animation-fill-mode: forwards;
    }

    button:hover {
      animation: fadeIn 0.2s linear;
      animation-fill-mode: forwards;
    }

    h3 {
      margin: 0.75em 0;
      text-align: left;
      font-size: 18px;
      font-weight: 500;

      span {
        color: $textColor;
      }
    }
  }
}

@-webkit-keyframes fadeIn {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(1.5);
  }
}
@keyframes fadeIn {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(1.5);
  }
}

@-webkit-keyframes fadeOut {
  0% {
    filter: brightness(1.5);
  }
  100% {
    filter: brightness(1);
  }
}
@keyframes fadeOut {
  0% {
    filter: brightness(1.5);
  }
  100% {
    filter: brightness(1);
  }
}
