@import "variables.scss";

.method_modal {
  position: absolute;
  top: 20vh;
  left: 20%;
  right: 20%;
  bottom: 20vh;
  overflow-y: auto;
  border-radius: 5px;

  background-color: $primaryColor;
  padding: 2em;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h2 {
    margin: 0;
    text-align: center;
    font-weight: 500;
  }

  h4 {
    margin: 0.5em 0;
  }

  ul {
    color: $textColor;
    list-style: square;

    li {
      padding-bottom: 0.4em;
    }
  }

  p {
    margin: 0.5em 0;
    color: $textColor;
    line-height: 25px;
  }

  a {
    color: $secondaryColor;
  }

  .spacer {
    min-height: 2em;
    margin-bottom: 2em;
  }
}
