@import "variables.scss";

.state_modal {
  position: absolute;
  top: 20vh;
  left: 15%;
  right: 15%;
  bottom: 20vh;
  overflow-y: auto;
  border-radius: 5px;

  background-color: $primaryColor;
  padding: 0em 2em 1.5em 2em;

  display: flex;
  flex-direction: column;

  h1 {
    margin: 1.5em auto 0.5em auto;
    font-weight: 400;
    color: $textColor;
  }
}
