@import "./src/assets/variables.scss";

.App {
  text-align: center;
}

.modal_close_button {
  position: absolute;
  top: 26px;
  right: -5px;
  transform: translate(-50%, -50%);
  color: $secondaryColor;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;

  svg {
    fill: $secondaryColor;
  }
}
